h1 {
    text-align: center;
    margin: 3vh;
    margin-left: 70px;
}
.botonTirar {
    text-align: center;
    margin: 3vh;
    margin-left: 120px;
}
.imagenDado {
    text-align: center;
    margin: 3vh;
}
.row {
    margin: 3vh;
}
.dado{
    width: 500;
    text-align: center;
}